
# ================= ZUGANGSDATEN – NIE INS REPOSITORY =================

../config.php
secrets.php
*.env
.env

# Vorlage darf ins Repository
!config.template.php


# ================= EDITOREN / IDE =================

.idea/
.vscode/



# ================= LOKALE / GENERIERTE DATEIEN =================

node_modules/
*.log
.DS_Store